<div class="main-container">

  <app-guess-table class="guess-table-container" (endGameEmitter)="receiveEndGameStatus($event)">
    <header>
      <span class="header-subtitle">can you catch the Pokemon chasing the</span>
      <span class="header-title">
      W<a style="color:#ee8160;">E</a>EDLE<a (click)="showHelp = !showHelp" class="help-button">?</a>
    </span>
    </header>
  </app-guess-table>

</div>

<app-black-screen *ngIf="showBlackScreen()" (closeBlackScreen)="closeBlackScreen($event)">
  <div class="end-game" *ngIf="endGameMessage">{{endGameMessage}}</div>
  <app-help *ngIf="showHelp"></app-help>
</app-black-screen>



